@model arbimed.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastTripDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastTripDateTime)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TotalTravelDistanceInKilometers)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.TotalTravelDistanceInKilometers)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.AverageFuelConsumptionInLitres)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.AverageFuelConsumptionInLitres)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
