@model IEnumerable<arbimed.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTripDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTravelDistanceInKilometers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageFuelConsumptionInLitres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTripDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTravelDistanceInKilometers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageFuelConsumptionInLitres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
